{# empty Twig template #}
{% extends "base.html.twig" %}

{% block title %}Détail des produits {{ product.name }} {{ product.name }}{% endblock %}

{% block body %}
    <h1>List des tags pour le :  {{ product.name }}</h1>
    
     
    <ul>
        {% for tag in product.tags %}
            <li>{{ tag.name }}</li>
        {% endfor %}
    </ul>
      <a href="{{path('list_product', {id : product.id })}}">Retour à la liste des produits</a>
        {# TODO afficher les informations et produits de l'utilisateur #}
{% endblock %}